*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

body {
  line-height: inherit;
  margin: 0;
}

.w-full {
  width: 100%;
}

.z-50 {
  z-index: 50;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.fixed {
  position: fixed;
}

.p-4 {
  padding: 1rem;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.font-medium {
  font-weight: 500;
}

.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.py-cards {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.bg-brand-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 80 / var(--tw-bg-opacity, 1));
}

.bg-brand-secondary-500 {
  background-color: rgb(34 35 51);
}

.rounded-full {
  border-radius: 9999px;
}

.justify-between {
  justify-content: space-between;
}

.max-w\[1080px\] {
  max-width: 1080px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-20 {
  height: 5rem;
}

.icon-fill {
  fill: currentColor;
}

.w-24 {
  width: 6rem;
}

.hidden {
  display: none;
}

.gap-6 {
  gap: 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-family: Geist;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 95%;
}

.gap-1 {
  gap: 0.25rem;
}

.flex-col {
  flex-direction: column;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}

button {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.bg-black {
  background-color: rgb(0 0 0);
}

.h-0\.5 {
  height: 0.125rem;
}

.bg-center {
  background-position: 50%;
}

.bg-cover {
  background-size: cover;
}

.h-\[90vh\] {
  height: 90vh;
}

.relative {
  position: relative;
}

.bg-black\/40 {
  background-color: #0006;
}

.z-0 {
  z-index: 0;
}

.inset-0 {
  inset: 0;
}

.absolute {
  position: absolute;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.gap-10 {
  gap: 2.5rem;
}

.justify-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.flex-col {
  flex-direction: column;
}

.display {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.44px;
  line-height: 95%;
}

h1,
h3,
h2,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-family: Geist;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.66px;
  line-height: 100%;
}

h4 {
  font-family: Geist;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -5%;
  line-height: 109%;
}

h5,
h6 {
  font-family: Geist;
  font-weight: 600;
  line-height: 100%;
}

h6 {
  font-size: 14px;
  letter-spacing: 0;
}

.h6-grid-cards {
  font-size: 12px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.uppercase {
  text-transform: uppercase;
}

.display,
body,
html {
  font-family: Geist;
}

h1 {
  margin: 0;
}

.text-white {
  color: white;
}

.pb-16 {
  padding-bottom: 4rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-8 {
  gap: 2rem;
}

max-w-\[1200px\] {
  max-width: 1200px;
}

.p2,
p {
  font-family: Geist;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  line-height: 135%;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.custom-button {
  border-radius: 9999px;
  display: inline-block;
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 80 / var(--tw-bg-opacity, 1));
  color: #0009;
  font-weight: 600;
  padding: 18px 1.5rem;
}

.custom-button {
  font-family: Geist;
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: -0.28px;
  line-height: 120%;
}

.spacer-component {
  height: var(--spacing-mobile);
}

.optimized-image {
  overflow: hidden;
  position: relative;
}

article .optimized-image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.object-cover {
  object-fit: cover;
}

img {
  height: auto;
  max-width: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

div [div-img] {
  aspect-ratio: var(--aspect-mobile, 4/3);
}

.title1,
h1,
h2 {
  font-family: Geist;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1.44px;
  line-height: 95%;
}

.bg-white {
  background-color: white;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.font-primary {
  font-family: Geist;
}

.font-normal {
  font-weight: 400;
}

.text-16 {
  font-size: 16px;
}

/*Media Query per tablet*/

@media (min-width: 768px) {
  .display {
    font-size: 72px;
    line-height: 85%;
  }

  h3 {
    font-size: 26px;
    letter-spacing: 0;
    line-height: 98%;
  }

  h4 {
    font-size: 20px;
    letter-spacing: -1px;
  }

  h1 {
    font-size: 64px;
    letter-spacing: -3.84px;
  }

  .md\:gap-14 {
    gap: 3.5rem;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .title1 {
    font-size: 64px;
    line-height: 95%;
    letter-spacing: -3.84px;
  }
}

@media (min-width: 1024px) {
  .lg\:hidden {
    display: none;
  }

  .lg\:block {
    display: block;
  }

  .link {
    font-size: 16px;
  }

  .display {
    font-size: 104px;
    letter-spacing: -2.08px;
  }

  h3 {
    font-size: 32px;
    line-height: 100%;
  }

  h4 {
    font-size: 20px;
    line-height: 100%;
  }

  .lg\:gap-24 {
    gap: 6rem;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .title1,
  h1 {
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -2.88px;
  }

  .p2,
  p {
    font-size: 18px;
    letter-spacing: -0.36px;
  }

  div [div-img] {
    aspect-ratio: var(--aspect-desktop, 16/9);
  }

  .lg\:gap-12 {
    gap: 3rem;
  }

  .lg\:items-center {
    align-items: center;
  }

  .LineH120 {
    line-height: 120%;
  }

  .Lspacing {
    letter-spacing: -0.32px;
  }
}
