* {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 800px;
  position: relative;
  background-image: url(hero_section.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 343px;
  height: 90px;
  background-color: #fff550;
  border: 2px solid #fff550;
  border-radius: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

#hero {
  width: 100%;
  height: 800px;
}

#logo {
  padding-left: 20px;
  padding-bottom: 10px;
}

#menu {
  margin-right: 20px;
}

.hero_content {
  margin-bottom: 300px;
}

h3 {
  font-size: 48px;
  padding: 20px;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  color: white;
}
