*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.w-full {
  width: 100%;
}

.z-50 {
  z-index: 50;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.fixed {
  position: fixed;
}

.p-4 {
  padding: 1rem;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.font-medium {
  font-weight: 500;
}

.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.bg-brand-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 80 / var(--tw-bg-opacity, 1));
}

.rounded-full {
  border-radius: 9999px;
}

.justify-between {
  justify-content: space-between;
}

.max-w\[1080px\] {
  max-width: 1080px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-20 {
  height: 5rem;
}

.icon-fill {
  fill: currentColor;
}

.w-24 {
  width: 6rem;
}

.hidden {
  display: none;
}

.gap-6 {
  gap: 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-family: Geist;
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: -0.3px;
  line-height: 95%;
}

.gap-1 {
  gap: 0.25rem;
}

.flex-col {
  flex-direction: column;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}

button {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.bg-black {
  background-color: rgb(0 0 0);
}

.h-0\.5 {
  height: 0.125rem;
}

.bg-center {
  background-position: 50%;
}

.bg-cover {
  background-size: cover;
}

.h-\[90vh\] {
  height: 90vh;
}

.relative {
  position: relative;
}

.bg-black\/40 {
  background-color: #0006;
}

.z-0 {
  z-index: 0;
}

.inset-0 {
  inset: 0;
}

.absolute {
  position: absolute;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.gap-10 {
  gap: 2.5rem;
}

.justify-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.flex-col {
  flex-direction: column;
}

.display {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1.44px;
  line-height: 95%;
}

h1,
h3,
h4 {
  margin: 0;
}

.display,
body,
html {
  font-family: Geist;
}

h1 {
  margin: 0;
}

.text-white {
  color: white;
}

.pb-16 {
  padding-bottom: 4rem;
}

.gap-10 {
  gap: 2.5rem;
}

grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-8 {
  gap: 2rem;
}

max-w-\[1200px\] {
  max-width: 1200px;
}

.p2,
p {
  font-family: Geist;
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: -0.32px;
  line-height: 135%;
}

.mt-8 {
  margin-top: 2rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.custom-button {
  border-radius: 9999px;
  display: inline-block;
  --tw-bg-opacity: 1;
  background-color: rgb(255 245 80 / var(--tw-bg-opacity, 1));
  color: #0009;
  font-weight: 600;
  padding: 18px 1.5rem;
}

.custom-button {
  font-family: Geist;
  font-size: 14px;
  font-weight: 400px;
  letter-spacing: -0.28px;
  line-height: 120%;
}
