* {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 800px;
  position: relative;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(hero_section.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav {
  width: 343px;
  height: 90px;
  background-color: #fff550;
  border-radius: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 13px 16px 0 16px;
}

#logo {
  width: 150px;
  height: 50px;
  margin-left: 35px;
}

#menu {
  margin-right: 40px;
}

.hero_content {
  width: 303px;
  height: 354px;
  margin: 260px 36px 70px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 48px;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  color: white;
  line-height: 85%;
  letter-spacing: -2%;
}

p {
  font-size: 22px;
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  line-height: 100%;
  letter-spacing: -3%;
  margin-top: 36px;
}

.small_hero {
  font-size: 16px;
  font-weight: 400;
  font-family: "Geist", sans-serif;
  line-height: 109.00000000000001%;
  letter-spacing: -5%;
  color: white;
  margin-top: 12px;
}

.intro_section {
  width: 100%;
  height: 995px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

main {
  width: 327px;
  height: 867px;
  margin: 0 24px 70px 24px;
}

.headline {
  width: 327px;
  height: 346px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.h6_headline {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Geist", sans-serif;
  line-height: 100%;
  letter-spacing: -2%;
  color: black;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.h3_headline {
  font-family: "Geist", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 95%;
  letter-spacing: -3%;
  color: black;
}
